#adSite.pro
adSite.pro/task_1/node_modules
adSite.pro/task_1/.pnp
adSite.pro/task_1/.pnp.js
adSite.pro/task_1/coverage/
adSite.pro/task_1/build/
adSite.pro/task_1/.DS_Store
adSite.pro/task_1/.env.local
adSite.pro/task_1/.env.development.local
adSite.pro/task_1/.env.test.local
adSite.pro/task_1/.env.production.local
adSite.pro/task_1/npm-debug.log*
adSite.pro/task_1/yarn-debug.log*
adSite.pro/task_1/yarn-error.log*


#Oxido
Oxido/.env
Oxido/__pycache__/
Oxido/*.pyc
